<div class="container mt-4">
  <h1 class="text-center mb-5">Mon gestionnaire de tâches</h1>
  <div class=" container col-7">
    <app-add-user></app-add-user>

      <select class="form-select mb-4 " aria-label="Default select example" (change)="onUserChange()" [(ngModel)]="user.id">
        <option value="0" selected disabled>Sélectionner un utilisateur</option>
        <option [ngValue]="user.id" *ngFor="let user of users, let i = index">
          {{user.name}}
        </option>
      </select>

    <app-task [idUser]="user.id"></app-task>
  </div>

</div>
